<br>
<div id="custom-cars-view">

    <!-- Custom cars header -->
    <header id="custom-cars-header" class="d_flex align-items_end gap_2">
        <!-- Filter section -->
        <section id="custom-filter-section" class="ml-0_5">

            <app-filter-pill
                    [props]="{
                        label: 'FILTER_BY',
                        selected: selectedFilter,
                        customDefaultOptions: true,
                        selectDisabled: false
                    }"
                    (onChange)="filterCars($event)"
                ></app-filter-pill>
    
        </section>

        <!-- Upload car button -->
        <app-dc-button [buttonTitle]="'POST_CUSTOM_CAR'" (click)="uploadCar()"></app-dc-button>

    </header>

    <!-- Car list -->
    <main class="custom-cars-list">

        <!-- Car items -->
        <div *ngFor="let car of cars" >
            <app-custom-card (errorEvent)="enableErrorMsg($event)" [userProfile]="false" [car]="car"></app-custom-card>
        </div>

    </main>

    <!-- Possible error notification -->
    <app-global-notification *ngIf="error" [notificationMsg]="errorMsg"></app-global-notification>
</div>