
@media (max-width: 900px) {
    #custom-filter-section {
        margin-left: 5em;
    }
 
}

@media (max-width: 600px) {
    #custom-cars-view {
        margin-top: 2em;
    }

    #custom-cars-header {
        flex-direction: column;
        align-items: center;
    }

    #custom-filter-section {
        margin-left: 0;
    }
}