<br>
<main class="info-page d_flex flex-direction_column w_50 gap_3">
    
    <div class="info-page-item">
        <h3>Version 1.0.1 (20/08/2023)</h3>
        <hr>
        <ul>
            <li>Exportación de colección del usuario en .csv (Limitado a descarga cada 2 días)</li>
            <li>Enumeración de coches mostrados y en propiedad (X/XX) en vista Básicos y Premium</li>
        </ul>
    </div>

    <div class="info-page-item">
        <h3>Version 1.0.2 (03/09/2023)</h3>
        <hr>
        <ul>
            <li>Exportación de colección del usuario en .csv (Limitado a descarga cada 2 días)</li>
            <li>Enumeración de coches mostrados y en propiedad (X/XX) en vista Básicos y Premium</li>
        </ul>
    </div>

</main>