<br>
<main class="info-page d_flex flex-direction_column w_50 gap_5">

    <div class="info-page-item">
        <h3>{{ 'UPDATES_VERSION_104' | translate }}</h3>
        <hr>
        <ul>
            <li>{{ 'UPDATES_VERSION_104_1' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_104_2' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_104_3' | translate }}</li>
        </ul>
    </div>

    <div class="info-page-item">
        <h3>{{ 'UPDATES_VERSION_103' | translate }}</h3>
        <hr>
        <ul>
            <li>{{ 'UPDATES_VERSION_103_1' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_103_2' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_103_3' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_103_4' | translate }}</li>
        </ul>
    </div>
    
    <div class="info-page-item">
        <h3>{{ 'UPDATES_VERSION_102' | translate }}</h3>
        <hr>
        <ul>
            <li>{{ 'UPDATES_VERSION_102_1' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_102_2' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_102_3' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_102_4' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_102_5' | translate }}</li>
        </ul>
    </div>

    <div class="info-page-item">
        <h3>{{ 'UPDATES_VERSION_101' | translate }}</h3>
        <hr>
        <ul>
            <li>{{ 'UPDATES_VERSION_101_1' | translate }}</li>
            <li>{{ 'UPDATES_VERSION_101_2' | translate }}</li>
        </ul>
    </div>    

</main>