<div id="user-config-view">
    <form [formGroup]="configForm" class="user-config-container">
        <h1>{{ 'USER_EDIT_PROFILE' | translate }}</h1>
        <p>{{ 'CONFIG_DESCR' | translate }}</p>
        
        <div class="user-config-item">
            <label>{{ 'LOGIN_USERNAME' | translate }}:</label>
            <input
                type="text"
                formControlName="username"
                placeholder="{{ 'LOGIN_USERNAME' | translate }}"
                (keydown.enter)="submitForm()" />
        </div>

        <div class="user-config-item">
            <label>{{ 'LOGIN_EMAIL' | translate }}:</label>
            <input
                type="email"
                formControlName="email"
                placeholder="{{ 'LOGIN_EMAIL' | translate}}"
                (keydown.enter)="submitForm()" />
        </div>


        <div class="user-config-item">
            <label>{{ 'LOGIN_PASSWORD' | translate }}:</label>
            <input
                type="password"
                formControlName="password"
                placeholder="{{ 'LOGIN_PASSWORD' | translate}}"
                (keydown.enter)="submitForm()" />
        </div>

        <div class="img-inputs-container" *ngIf="data">
            <div class="img-input">
                <div class="img-title-container">
                    <h4>{{ 'CONFIG_IMG_PROFILE' | translate }}</h4>
                    <button (click)="deleteImg($event, 1)" class="button-delete-config">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
                <app-upload-img
                    [imagePrev]="data.user.img"
                    [deleteImage]="imgDeleted"
                    [displayUploadButton]="true"
                    (imageChanged)="onImageChanged(0, $event)"></app-upload-img>
            </div>

            <div class="img_bg-input">
                <div class="img-title-container">
                    <h4>{{ 'CONFIG_IMG_BANNER' | translate }}</h4>
                    <button (click)="deleteImg($event, 2)"class="button-delete-config">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>

                <app-upload-img
                    [imagePrev]="data.user.bg_img"
                    [imageBanner]="true"
                    [deleteImage]="bgDeleted"
                    [displayUploadButton]="true"
                    (imageChanged)="onImageChanged(1, $event)"></app-upload-img>
            </div>
        </div>

        <button #submitButton type="button" class="button-update-config" (click)="submitForm()">{{ 'CONFIG_UPDATE' | translate }}</button>

        <p *ngIf="formError" class="notification notification-error">{{ errorMsg | translate }}</p>
        <p *ngIf="formSuccess" class="notification notification-success">{{ successMsg | translate }}</p>


    </form>

    <!-- Spinner -->
    <app-spinner [isLoading]="isLoading"></app-spinner>
</div>
