#premium-cars-land-section {
    gap: 10em;
    background: url('src/assets/images/premium_cars_page/premium_cars_bg.webp');
    background-position: center;
    background-size: cover;
    padding: 6em 2em;
}

.premium-view-title {
    margin: 2rem auto 0;
    width: 85%;
}

.premium-cars-selector {
    margin: 50px auto;
}

@media (max-width: 1450px) {
    .header-list {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}

@media (max-width: 1166px) {
    #premium-cars-land-section {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 620px) {
    #premium-cars-land-section {
        padding-top: 4em;
        padding-bottom: 2em;
    }

    #premium-cars-selector {
        margin-top: 10px;
    }
}