<div id="premium-cars-page">
    <div id="premium-cars-body">

        <!-- Landing section -->
        <header id="premium-cars-land-section" class="d_flex justify-content_center align-items_center">

            <!-- Explanation section -->
            <section id="premium-explanation">
                <app-msg-card [config]="msg_card"></app-msg-card>
            </section>

            <!-- Filter section -->
            <section *ngIf="isSerieSelected" id="premium-filter-section" class="d_flex flex-direction_column">

                <app-filter-pill
                    [props]="{
                        label: 'PREMIUM_CARS_SECONDARY_SERIE',
                        options: availableSecondarySeries,
                        selected: selectedSecondarySerie,
                        premiumDefaultSeries: true,
                        selectDisabled: false
                    }"
                    (onChange)="filterSerie($event)"
                ></app-filter-pill>

                <app-filter-pill
                    [props]="{
                        label: 'FILTER_CARS_OWNED',
                        options: ownedCarsFilter,
                        selected: selectedOwned,
                        selectDisabled: false
                    }"
                    (onChange)="filterSerieOwned($event)"
                ></app-filter-pill>

            </section>

        </header>

        <!-- Header list -->
        <section *ngIf="isSerieSelected" class="header-list d_flex justify-content_center align-items_center gap_3 text-align_center mt_1">

            <app-dc-button [buttonTitle]="'GO_BACK'" (click)="disableSerieSelected()"></app-dc-button>

            <app-buttons-legend></app-buttons-legend>
            
            <div *ngIf="isSerieSelected" class="owned-cars-quantity">
                <div *ngIf="userToken.userId"><h4>{{ 'CARS_OWNED_LITERAL' | translate}}: {{ carsOwned }} / {{ carsShowed }}</h4></div>
                <div *ngIf="!userToken.userId"><h4>{{ 'CARS_OWNED_LITERAL' | translate}}: X / {{ carsShowed }}</h4></div>
            </div>

        </section>

        <!-- Main Serie Selector -->
        <main *ngIf="!isSerieSelected" class="premium-cars-selector d_flex justify-content_center flex_wrap">
            
            <!-- Series items -->
            <div *ngFor="let pill of premiumPills">
                <app-premium-pill [data]="pill" (serieSelected)="getCars($event)"></app-premium-pill>
            </div>

        </main>
        
        <main>
            <div *ngIf="isSerieSelected" class="premium-view-title text-align_center">
                <h1 class="mb_0_25">{{ selectedMainSerie }}</h1>
                <hr>
            </div>
    
            <!-- Car list -->
            <div *ngIf="isSerieSelected">

                <ng-container *ngFor="let group of carsGrouped">

                    <ng-container *ngIf="group.visible">
                        <div class="serie-name serie-name-group">
                            <h1 class="mb_0_25">{{ group.serieName }}</h1>
                            <hr>
                        </div>
        
                        <!-- Car items -->
                        <div class="premium-cars-list">
                            <ng-container *ngFor="let car of group.cars">
                                <ng-container *ngIf="car.visible">
                                    <app-premium-card
                                        (deleteCar)="onDeleteCar($event)"
                                        (addedCar)="onAddedCar()"
                                        (errorEvent)="enableErrorMsg($event)"
                                        [car]="car">
                                    </app-premium-card>
                                </ng-container>
                            </ng-container>
                        </div>

                    </ng-container>

                </ng-container>
    
            </div>
        </main>

    </div>

    <!-- Scroll to top Button -->
    <app-scroll-to-top></app-scroll-to-top>

    <!-- Possible error notification -->
    <app-global-notification *ngIf="error" [notificationMsg]="errorMsg"></app-global-notification>

</div>