<header #header [ngClass]="{ 'header-block': isBlockView(), 'mobile-menu-open': isMobileMenuOpen }">

    <!-- Mobile Menu Button -->
    <div id="mobile-menu" (click)="toggleMobileMenu()">
        <i class="fas fa-bars"></i>
    </div>

    <!-- Logo -->
    <div (click)="goTo('/')" id="header-logo">
        <h1>DT</h1>
    </div>

    <!-- Items -->
    <ul>

        <!-- Search Bar -->
        <li class="header-item search-container">
            <div class="search-box">
                <button (click)="searchCar()" class="btn-search" aria-label="Search Button"><i class="fas fa-search"></i></button>
                <input
                    #searchInput
                    [(ngModel)]="carSearched"
                    (keyup.enter)="searchCar()"
                    type="text"
                    class="input-search"
                    placeholder="{{ 'HEADER_SEARCH' | translate }}"
                >
            </div>
        </li>

        <!-- Language Dropdown -->
        <li class="dropdown-container header-item">
            <button (click)="toggleDropdown('lang')" class="dropdown-button">{{ 'HEADER_LANGUAGE' | translate }}
                &dtrif;</button>
            <div #langDropdown class="dropdown-content" [ngClass]="{'show': !langDropdownOpen}">
                <button (click)="toggleLanguage('en')">{{ 'HEADER_ENGLISH' | translate }}</button>
                <button (click)="toggleLanguage('es')">{{ 'HEADER_SPANISH' | translate }}</button>
            </div>
        </li>


        <!-- About DT -->
        <li class="header-item"><button (click)="goTo('about')">{{ 'HEADER_ABOUT' | translate }}</button></li>

        <!-- Log In -->
        <li class="header-item" *ngIf="!userLoggedIn"><button (click)="goTo('auth')">{{ 'HEADER_ACCOUNT' | translate }}</button></li>

        <!-- Account Dropdown -->
        <li class="header-item" *ngIf="userLoggedIn">
            <div class="dropdown-container">
                <button (click)="toggleDropdown('acc')" class="dropdown-button">{{ user.user.username }}
                    &dtrif;</button>
                <div #accDropdown class="dropdown-content" [ngClass]="{'show': !accDropdownOpen}">
                    <button (click)="goToUserProfile()">{{ 'HEADER_MY_PROFILE' | translate }}</button>
                    <button (click)="goTo('user/config')">{{ 'HEADER_MY_SETTINGS' | translate }}</button>
                    <button (click)="logOut()">{{ 'HEADER_LOGOUT' | translate }}</button>
                </div>
            </div>
        </li>

    </ul>
</header>

<div id="overlay" [ngClass]="{'show-overlay': isMobileMenuOpen}"></div>