<br>
<main class="about-cw-page d_flex flex-direction_column w_50 text-align_center gap_1_5">
    <p>{{ 'ABOUT_CW_PARAGRAPH1' | translate }}</p>
    <p>{{ 'ABOUT_CW_PARAGRAPH2' | translate }}</p>
    <p>{{ 'ABOUT_CW_PARAGRAPH3' | translate }}</p>
    <p>{{ 'ABOUT_CW_PARAGRAPH4' | translate }}</p>
    <p>{{ 'ABOUT_CW_PARAGRAPH5' | translate }}</p>
    <p>{{ 'ABOUT_CW_PARAGRAPH6' | translate }}</p>
    <p>{{ 'ABOUT_CW_PARAGRAPH7' | translate }}</p>
    <p>{{ 'ABOUT_CW_PARAGRAPH8' | translate }}</p>
    <a class="mt-0_5" href="https://www.buymeacoffee.com/rdevgc" target="_blank">{{ 'ABOUT_CW_DONATIONS' | translate }}</a>
</main>