.about-cw-page {
    display: flex;
    flex-direction: column;
    text-justify: auto;
    width: 50%;
    margin: 70px auto 0;
    gap: 1.5em;
}

.about-cw-page p {
    text-align: justify;
    font-size: 20px;
}

@media (max-width: 1300px) {
    .about-cw-page {
        width: 70%;
        gap: 2em;
    }
}

@media (max-width: 900px) {
    .about-cw-page p {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .about-cw-page {
        width: 80%;
    }
}