.premium-car-item {
    margin: 1.2em 0;
}

.img-container {
    width: 255px;
    height: 390px;
}

.card-image {
    width: 255px;
    height: 390px;
    border-radius: .6rem;
}

.premium-car-item h4 {
    margin-bottom: .5rem;
}

.small-title {
    font-size: 1rem;
}

.premium-car-item p {
    font-size: .9rem;
    line-height: 150%;
    letter-spacing: 1px;
}

.car-item-subtitle {
    margin-top: .5rem;
}

span {
    font-size: 1em;
}

.car-card-button {
    top: 70%;
}

@media (max-width: 1166px) {
    .img-container {
        width: 185px;
        height: 290px;
    }
    
    .card-image {
        width: 185px;
        height: 290px;
    }
}

@media (max-width: 600px) {
    .img-container {
        width: 145px;
        height: 250px;
    }
    
    .card-image {
        width: 145px;
        height: 250px;
    }
    
    .car-card-button {
        top: 80%;
    }
}