<div class="premium-car-item">
    <!-- Car Title -->
    <div 
        class="item-car-title"
        [ngClass]="{
            'item-car-title-collected': car.has_car && !car.profile_view,
            'item-car-title-wanted': car.wants_car && !car.profile_view
        }"
    >  
        <h4 [ngClass]="car.model_name.length > 22 ? 'small-title' : ''">{{ car.model_name }}</h4>
    </div>
    
    <!-- Img Container -->
    <div class="img-container" (click)="onCarClick()">
        <img
            loading="lazy"
            class="card-image"
            [src]="car.card_img"
            [alt]="car.model_name"
            [ngClass]="carClicked ? 'car-img-opacity' : ''"
        />
        <div class="car-card-button-wrapper" *ngIf="carClicked">
            <button *ngIf="!car.has_car && !car.wants_car && !car.profile_view" (click)="addCar(false)" class="car-card-button add-to-wishlist">{{ 'ADD_CAR_WISHED' | translate }}</button>
            <button *ngIf="!car.has_car && !car.wants_car && !car.profile_view" (click)="addCar(true)" class="car-card-button add-to-collection">{{ 'ADD_CAR_COLLECTION' | translate }}</button>
            <button *ngIf="(car.has_car || car.wants_car) && car.user_profile" (click)="removeCar()" class="car-card-button remove-from-x">{{ 'REMOVE_CAR_X' | translate }}</button>
        </div>
    </div>

    <!-- Car Description -->
    <p *ngIf="car.search"><span class="car-description">{{ 'PREMIUM_CARS_MAIN_SERIE' | translate }}</span>: {{ car.main_serie }}</p>
    <p *ngIf="car.secondary_serie.length > 0"><span class="car-description">{{ 'PREMIUM_CARS_SECONDARY_SERIE' | translate }}</span>: {{ car.secondary_serie }}</p>
    <p><span class="car-description">{{ 'PREMIUM_CARS_YEAR' | translate }}</span>: {{ car.year }}</p>
    <p *ngIf="car.col_serie.length > 0"><span class="car-description">{{ 'PREMIUM_CARS_COL' | translate }}</span>: {{ car.col_serie }}</p>
    <p><span class="car-description">{{ 'CUSTOM_CAR_ID_CAR' | translate }}</span>: {{ car.car_id }}</p>

    <!-- Collected Data -->
    <!-- <div *ngIf="car.has_car" class="car-collected-data car-collected-has"></div>
    <div *ngIf="car.wants_car" class="car-collected-data car-collected-wants"></div> -->

</div>