.premium-car-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1.2em auto;
}

.card-image {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: .6rem;
}

.premium-car-item h4 {
    margin-bottom: .5rem;
}

.small-title {
    font-size: 1rem;
}

.premium-car-item p {
    font-size: .9rem;
    line-height: 150%;
    letter-spacing: 1px;
}

/* .button-wrapper {
    margin-top: .5rem;
} */

.car-item-subtitle {
    margin-top: .5rem;
}

.car-serie-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 1em;
}

.car-card-button {
    top: 70%;
}

@media (max-width: 600px) {
    .car-card-button {
        top: 80%;
    }

    .card-image {
        height: 260px;
    }

}