<div
  class="upload-container"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
>
  <input
    type="file"
    (change)="onFileSelect($event)"
    multiple
    hidden
    #fileInput
  />
  <span (click)="fileInput.click()">
    {{ "upload_custom.select_images" | translate }}
  </span>
  <div class="flex justify-content-center gap-3 mt-3 image-preview">
    <ng-container *ngFor="let img of images; let i = index">
      <div class="image-container">
        <img [src]="img | fileUrl" />
        <i class="pi pi-trash delete-icon" (click)="removeImage(i)"></i>
      </div>
    </ng-container>
  </div>
</div>
