<ng-container *ngIf="submitUserForm$ | async"></ng-container>
<ng-container *ngIf="userData$ | async as userData">
  <div class="w-full flex justify-content-center">
    <form [formGroup]="userForm">
      <span>({{ "user.edit.info" | translate }})</span>
      <div class="flex flex-column gap-6 mt-3">
        <div class="input-container flex justify-content-between">
          <div class="flex flex-column gap-1">
            <label for="username">
              {{ "user.edit.username" | translate }}
            </label>
            <input id="username" formControlName="username" type="text" />
          </div>
          <div class="flex flex-column gap-1">
            <label for="email">
              {{ "user.edit.email" | translate }}
            </label>
            <input id="email" formControlName="email" type="email" />
          </div>
          <div class="flex flex-column gap-1">
            <label for="password">
              {{ "user.edit.password" | translate }}
            </label>
            <input id="password" formControlName="password" type="password" />
          </div>
        </div>

        <div class="image-container flex gap-4 align-items-center">
          <img [src]="userData.img" />
          <dc-images-upload
            class="w-full"
            [maxImages]="1"
            (imagesSelected)="onImagesSelected($event)"
            (errorEmitter)="onErrorEmit()"
          />
        </div>

        <dc-button
          buttonTitle="user.edit.update"
          [disabled]="submitButtonDisabled"
          (onClickButton)="submitUserForm.next(userForm)"
        />
      </div>

      <p *ngIf="errorMessage.length" class="mt-4 error-form">
        {{ errorMessage | translate }}
      </p>
      <p *ngIf="successMessage.length" class="mt-4 success-form">
        {{ successMessage | translate }}
      </p>
    </form>
  </div>
</ng-container>
<p-toast
  position="bottom-right"
  key="br"
  [breakpoints]="{ '560px': { width: '90%' } }"
/>
