.dc-secondary-button {
    background-color: var(--bg-100);
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    padding: .60rem 2rem;
}

.dc-secondary-button:hover {
    color: var(--primary-200);
    border-color: var(--primary-200);
}

.dc-secondary-button[disabled] {
    cursor: not-allowed;
    color: var(--bg-100);
}