.buttons-legend {
  margin: 0 1em;
}

.square-legend {
  width: 1em;
  height: 1em;
  border-radius: 2px;
}

.legend-visit-car {
  background-color: rgb(222, 222, 17);
}

.legend-add-car {
  background-color: rgb(23, 194, 35);
}

.legend-wish-car {
  background-color: rgb(244, 141, 22);
}

.legend-remove-car {
  background-color: rgb(255, 20, 20);
}