
<section class="buttons-legend d_flex gap_2 flex_wrap justify-content_center">
    <div class="d_flex align-items_center gap_0_5">
        <div class="square-legend legend-visit-car"></div>
        <p>{{ 'GO_TO_DETAILED' | translate }}</p>
    </div>
    <div class="d_flex align-items_center gap_0_5">
        <div class="square-legend legend-add-car"></div>
        <p>{{ 'ADD_CAR_COLLECTION' | translate }}</p>
    </div>
    <div class="d_flex align-items_center gap_0_5">
        <div class="square-legend legend-wish-car"></div>
        <p>{{ 'ADD_CAR_WISHED' | translate }}</p>
    </div>
    <div class="d_flex align-items_center gap_0_5">
        <div class="square-legend legend-remove-car"></div>
        <p>{{ 'REMOVE_CAR_X' | translate }}</p>
    </div>
</section>