<div class="msg-card-container">
    <div id="welcome-text">
        <h2>{{ config.title }}</h2>
        <p *ngFor="let description of config.description">{{ description }}</p>

        <!-- Button without Link -->
        <button *ngIf="config.button && !config.buttonLink" class="a-button">{{ config.buttonName }}</button>

        <!-- Button with Link -->
        <button *ngIf="config.button && config.buttonLink" (click)="goTo(config.buttonLink)" class="a-button">{{ config.buttonName }}</button>
    </div>
</div>