#edit-custom-car-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-custom-car-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    border-radius: 10px;
    margin-top: 40px;
}

.edit-custom-car-title-container {
    display: flex;
    gap: 1em;
}

.go-back-button {
    padding: 0 1.5em;
    background-color: var(--dark-bg-100);
    border: transparent;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    cursor: pointer;
}

.edit-custom-car-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.edit-custom-car-item label {
    color: #000;
    width: 25%;
    margin-right: 5px;
}

h1, p {
    color: #000;
}

.button-update-config {
    border-radius: 20px;
    border: 1px solid var(--dark-bg-100);
    background-color: var(--dark-bg-100);
    color: #FFF;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: .5rem;
    font-weight: bold;
}

button.button-update-config[disabled] {
    cursor: not-allowed;
    color: var(--dark-bg-100);
  }

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.img-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    margin-bottom: 5px;
}

.button-delete-config {
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 10px ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-delete-config:hover {
    background-color: #c82333;
}

.button-delete-config i {
    font-size: 15px;
}

.button-update-config:hover {
    color: var(--dark-primary-100);
    transition: .2s ease;
}

.button-update-config:active {
    transform: scale(0.95);
}

.button-update-config:focus {
    outline: none;
}

.img-inputs-container {
    display: flex;
    gap: 2rem;
    color: #000;
    margin: 25px 0;
    align-items: center;
    text-align: center;
}

.notification {
    color: #fff;
    margin-top: 1rem;
    padding: .75rem 0;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.notification-error {
    background-color: #eb2222;
}

.notification-success {
    background-color: rgb(27, 135, 27);
}



@media (max-width: 768px) {
    .edit-custom-car-container {
        padding: 10px 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .edit-custom-car-item input {
        width: 60%;
    }

    .img-inputs-container {
        flex-direction: column;
    }
}