<div
    class="user-item"
    (click)="visitUser()"
    [ngStyle]="{'background-image': user.bg_img ? 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + user.bg_img + ')' : 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/login_page/login_bg.webp)'}">
    <div class="profile-img-container">
        <img class="user-profile-pic circular-image" [src]="user.img ? user.img : 'assets/images/user-profile/no-user-profile.webp'" alt="">
    </div>
    <h4>{{ user.username }}</h4>
</div>