.img-container {
    position: relative;
    display: inline-block;
    perspective: 1000px;
}

.img-container:hover .flip-card {
    transform: rotateY(180deg);
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    background: url('src/assets/images/login_page/login_bg.webp');
    border-radius: .6em;
}

.car-img-opacity {
    opacity: .3;
}

.car-card-button {
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 1em;
}

.button-svg {
    width: 2em;
}

.go-to-detailed {
    border-color: rgb(241, 241, 35);
    background-color: rgba(203, 206, 20, 0.7);
}

.add-to-collection {
    border-color: rgb(23, 194, 35);
    background-color: rgba(15, 118, 21, 0.7);
}

.add-to-wishlist {
    border-color: var(--primary-100);
    background-color: rgba(189, 70, 27, 0.7);
}

.remove-from-x {
    border-color: rgb(255, 20, 20);
    background-color: rgba(187, 12, 12, 0.7);
}

.car-description {
    font-weight: 600;
}

.item-car-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px #000;

}

.item-car-title-collected {
    color: rgb(39, 221, 51);
}

.item-car-title-wanted {
    color: var(--primary-200);
}

.item-car-title h4 {
    text-align: center;
}

.item-car-th {
    width: 1.7rem;
    margin-bottom: .5rem;
    margin-right: .3rem;
}

@media (max-width: 1200px) {
    .button-svg-basic,
    .button-svg-premium {
        width: 1.5em;
    }
}

@media (max-width: 685px) {
    .button-svg-basic {
        width: 1em;
    }

    .car-card-button-basic {
        padding: .65em;
    }
}