.img-container {
    position: relative;
    display: inline-block;
}

.car-img-opacity {
    opacity: .3;
}

.car-card-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-card-button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    border-radius: 5px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    padding: .8rem 0;
    width: 45%;
    text-align: center;
}

.add-to-wishlist {
    left: .5rem;
    border: 2px solid var(--dark-primary-100);
    background-color: rgba(132, 41, 8, 0.7);
}

.add-to-collection {
    right: .5rem;
    border: 2px solid rgb(23, 194, 35);
    background-color: rgba(5, 82, 10, 0.7);
}

.remove-from-x {
    border: 2px solid rgb(255, 20, 20);
    background-color: rgba(177, 16, 16, 0.7);
}

.car-description {
    font-weight: 600;
}

.item-car-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px #000;

}

.item-car-title-collected {
    color: rgb(39, 221, 51);
}

.item-car-title-wanted {
    color: var(--dark-primary-200);
}

.item-car-title h4 {
    text-align: center;
}

.item-car-th {
    width: 1.7rem;
    margin-bottom: .5rem;
    margin-right: .3rem;
}

/* .car-collected-data {
    text-align: center;
    margin: auto;
    margin-top: .5rem;
    width: 80%;
    height: .5rem;
    border-radius: 1rem;
}

.car-collected-has {
    background-color: rgb(23, 194, 35);
}

.car-collected-wants {
    background-color: var(--dark-primary-100);
} */

@media (max-width: 600px) {
    .car-card-button {
        top: 60%;
    }

    .add-to-wishlist {
        left: .3rem;
    }

    .add-to-collection {
        right: .3rem;
    }

    .item-car-th {
        width: 1.2rem;
    }
}