.dc-button {
  padding: .4em 1.5em;
  border: 0.16em solid var(--primary-100);
  background-color: var(--bg-100-opacity);
  color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  text-shadow: 4px 4px 4px #000;
  transition: all 0.2s;
  padding: .75rem 2rem;
}

.dc-button:hover {
  background-color: var(--primary-100);
  text-shadow: none;
}

.dc-secondary-button[disabled] {
  cursor: not-allowed;
  color: var(--bg-100);
}