#search-results-land-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('src/assets/images/search-results/search-results-bg.png');
    background-position: center;
    background-size: cover;
    padding: 6em;
}

#basic-cars-search-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0 10px;
}

#premium-cars-search-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding: 0 10px;
}

.search-results-car-list {
    margin: 2rem;
}

h1 {
    margin-left: 1rem;
}

.car-menu-list-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.car-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
    padding: 5px 15px;
}

.car-menu-item {
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}

.car-menu-item:hover {
    color: var(--dark-primary-200);
}

.car-menu-item-selected {
    border-bottom: 1px solid var(--dark-primary-100);
}