<div id="login-page">
    <!-- Header -->
    <app-header></app-header>
    <br>

    <div class="container" id="login-component" [ngClass]="!loginActivo ? 'right-panel-active' : ''">

        <div class="form-container sign-up-container">
            <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
                <h1>{{ 'REGISTER_TITLE' | translate }}</h1>
                <input type="text" formControlName="register_username" placeholder="{{ 'LOGIN_USERNAME' | translate }}" />
                <input type="email" formControlName="register_email" placeholder="{{ 'LOGIN_EMAIL' | translate}}" />
                <input type="password" formControlName="register_password" placeholder="{{ 'LOGIN_PASSWORD' | translate}}" />
                <button type="submit" [disabled]="registerForm.invalid">{{ 'REGISTER_SIGNUP' | translate }}</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                <h1>{{ 'LOGIN_TITLE' | translate }}</h1>
                <input type="email" formControlName="login_email" placeholder="{{ 'LOGIN_EMAIL' | translate}}" />
                <input type="password" formControlName="login_password" placeholder="{{ 'LOGIN_PASSWORD' | translate}}" />
                <button type="submit" [disabled]="loginForm.invalid">{{ 'LOGIN_SIGNIN' | translate }}</button>
                <p class="password-forgot">{{ 'LOGIN_FORGOT' | translate }}</p>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">

                <div class="overlay-panel overlay-left">
                    <h1 class="overlay-texts">{{ 'LOGIN_OVERLAY_TITLE' | translate }}</h1>
                    <button class="ghost overlay-texts" (click)="toggleLogin()" id="signIn">{{ 'LOGIN_SIGNIN' | translate }}</button>
                </div>

                <div class="overlay-panel overlay-right">
                    <h1 class="overlay-texts">{{ 'REGISTER_OVERLAY_TITLE' | translate }}</h1>
                    <button class="ghost overlay-texts" (click)="toggleLogin()" id="signUp">{{ 'REGISTER_SIGNUP' | translate }}</button>
                </div>

            </div>
        </div>

    </div>

</div>