#basic-cars-land-section {
    gap: 10em;
    background: url('src/assets/images/basic_cars_page/basic_cars_bg.webp');
    background-position: center;
    background-size: cover;
    padding: 4em 2em;
}

#basic-filter-section {
    width: 20em;
}

@media (max-width: 1300px) {
    .header-list {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}

@media (max-width: 1166px) {
    #basic-cars-land-section {
        flex-direction: column;
        gap: 0;
        padding: 4em 2em 2em;
    }
}
