#basic-cars-land-section {
    display: flex;
    gap: 10em;
    justify-content: center;
    align-items: center;
    background: url('src/assets/images/basic_cars_page/basic_cars_bg.webp');
    background-position: center;
    background-size: cover;
    align-items: center;
    padding: 6em 2em;
}

#basic-filter-section {
    display: flex;
    flex-wrap: wrap;
    width: 20em;
}

.basic-filter-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    min-width: 20rem;
}

.basic-filter-item h3 {
    text-shadow: 4px 4px 4px #000;
    margin-left: .2em;
}

.owned-cars-quantity {
    display: flex;
    justify-content: right;
    padding: 2em 2em 0 2em;
}

.owned-cars-quantity div {
    margin-right: 5em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background: var(--dark-bg-200);
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.car-select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: var(--dark-bg-100);
    overflow: hidden;
    border-radius: .25em;
}

.car-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--dark-bg-100);
    pointer-events: none;
    transition: .25s all ease;
}

.car-select:hover::after {
    color: var(--dark-primary-100);
}

@media (max-width: 1166px) {
    #basic-cars-land-section {
        flex-direction: column;
        gap: 0;
        padding: 4em 2em 2em;
    }
}

@media (max-width: 600px) {
    .car-select {
        width: 16em;
        height: 2.5em;
    }

    .car-select::after {
        font-size: 14px;
    }
}