<div id="basic-cars-page">
    <div id="basic-cars-body">

        <!-- Landing section -->
        <div id="basic-cars-land-section">

            <!-- Explanation section -->
            <section id="basic-explanation">
                <app-msg-card [config]="msg_card"></app-msg-card>
            </section>

            <!-- Filter section -->
            <section id="basic-filter-section">

                <div class="basic-filter-item">
                    <h3>{{ 'BASIC_CARS_YEAR' | translate }}</h3>
                    <div class="car-select">
                        <select [(ngModel)]="selectedYear" (change)="getCars(selectedYear)">
                            <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
                        </select>

                    </div>
                </div>

                <div class="basic-filter-item">
                    <h3>{{ 'BASIC_CARS_SERIE' | translate }}</h3>
                    <div class="car-select">
                        <select [(ngModel)]="selectedSerie" (change)="filterSerie(selectedSerie)">
                            <option value="All">All</option>
                            <option value="Treasure Hunt">Treasure Hunt</option>
                            <option value="Super Treasure Hunt">Super Treasure Hunt</option>
                            <option value="Red Edition">Red Edition</option>
                            <option value="Walmart Exclusive">Zamac</option>
                            <option *ngFor="let serie of availableSeries" [value]="serie">{{ serie }}</option>
                        </select>
                    </div>
                </div>

            </section>

        </div>

        <!-- Car list -->
        <div id="basic-cars-list">

            <!-- Car items -->
            <div *ngFor="let car of showedCars" >
                <app-basic-card (errorEvent)="enableErrorMsg($event)" [car]="car"></app-basic-card>
            </div>

        </div>


    </div>

    <!-- Possible error notification -->
    <app-global-notification *ngIf="error" [notificationMsg]="errorMsg"></app-global-notification>

</div>