<div id="basic-cars-page">
    <!-- Header -->
    <app-header-component></app-header-component>

    <div id="basic-cars-body">
        
        <!-- Landing section -->
        <div id="basic-cars-land-section">

            <!-- Explanation section -->
            <section id="basic-explanation">
                <!-- Linea Básica -->
                <h2>Basic Line</h2>
                <!-- Cada año salen cientos de coches básicos, los cuales pertenecen a diferentes series (Exotics, Retro racers, etc). -->
                <!-- También hay series especiales, como los Red edition. -->
                <!-- Y por otra parte existen los tesoros (Treasure hunts y Super treasure hunts) que son muy dificiles de encontrar. -->
                <p>Every year hundreds of basic cars come out, which belong to different series (Exotics, Retro racers, etc).</p>
                <p>There are also special series, such as the Red edition.</p>
                <p>And on the other hand there are treasures (Treasure hunts and Super treasure hunts) that are very difficult to find.</p>
            </section>
    
            <!-- Filter section -->
            <section id="basic-filter-section">
                <h3>Filters</h3>
                <hr>
                <h4>Year</h4>
                <select name="" id="">
                    <option value="">2018</option>
                    <option value="">2019</option>
                </select>
            </section>

        </div>


        <!-- Car list -->


    </div>

</div>