<div id="basic-cars-page">
    <!-- Header -->
    <app-header-component></app-header-component>

    <div id="basic-cars-body">
        
        <!-- Landing section -->
        <div id="basic-cars-land-section">

            <!-- Explanation section -->
            <section id="basic-explanation">
                <!-- Linea Básica -->
                <h2>Basic Line</h2>
                <!-- Cada año salen cientos de coches básicos, los cuales pertenecen a diferentes series (Exotics, Retro racers, etc). -->
                <!-- También hay series especiales, como los Red edition. -->
                <!-- Y por otra parte existen los tesoros (Treasure hunts y Super treasure hunts) que son muy dificiles de encontrar. -->
                <p>Every year hundreds of basic cars come out, which belong to different series (Exotics, Retro racers, etc).</p>
                <p>There are also special series, such as the Red edition.</p>
                <p>And on the other hand there are treasures (Treasure hunts and Super treasure hunts) that are very difficult to find.</p>
            </section>
    
            <!-- Filter section -->
            <section id="basic-filter-section">

                <div class="basic-filter-item">
                    <h3>Year</h3>
                    <div class="car-select">
                        <select name="" id="" [(ngModel)]="selectedYear" (change)="getCars(selectedYear)">
                            <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
                        </select>
                          
                    </div>
                </div>

                <div class="basic-filter-item">
                    <h3>Serie</h3>
                    <div class="car-select">
                        <select name="" id="">
                            <option *ngFor="let serie of availableSeries" [value]="serie">{{ serie }}</option>
                        </select>
                    </div>
                </div>

            </section>

        </div>


        <!-- Car list -->
        <div id="basic-cars-list">
            <!-- <h2 *ngFor="let car of cars">{{ car.model_name }}</h2> -->
        </div>

    </div>

</div>