.image-input-container {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 30px;
    width: 150px;
    height: 150px;
    position: relative;
}

.image-banner-container {
    width: 250px;
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
}

.ui-button {
    background-color: #004fa3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background-color: #00356f;
    }
}

@media (max-width: 600px) {
    .image-input-container {
        width: 90px;
        height: 90px;
    }
}