.custom-car-item {
    width: 100%;
    height: 100%;
    margin: 0 5px;
}

.item-car-title {
    text-shadow: 2px 2px 2px #000;
}

.img-and-upvotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.custom-img-container {
    width: 100%;
    height: 180px;
    cursor: pointer;
}

.banner-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: .6rem;
}

.custom-car-item h4 {
    margin-bottom: .5rem;
}

.small-title {
    font-size: 1rem;
}

.upvotes {
    display: flex;
    margin-bottom: auto;
    margin-left: 1em;
}

.upvote-button {
    width: 20px;
    align-self: center;
}

.upvote-button:hover {
    cursor: pointer;
}

.custom-car-user-creator {
    text-align: left;
    margin-left: .5em;
    margin-top: .5em;
}

.custom-car-user-creator h4 {
    display: inline-block;
    cursor: pointer;
}

.custom-car-user-creator h4:hover {
    transition: .2s;
    color: var(--dark-primary-200);
}

.car-voted {
    color: var(--dark-primary-200);
}

@media (max-width: 1270px) {
    .img-and-upvotes {
        width: 300px;
    }
    
    .custom-img-container {
        height: 160px;
    }
    
    .banner-image {
        height: 160px;
    }
}

@media (max-width: 1000px) {
    .img-and-upvotes {
        width: 260px;
    }
    
    .custom-img-container {
        height: 140px;
    }
    
    .banner-image {
        height: 140px;
    }
}

@media (max-width: 900px) {
    .img-and-upvotes {
        width: 340px;
    }
    
    .custom-img-container {
        height: 160px;
    }
    
    .banner-image {
        height: 160px;
    }
}

@media (max-width: 770px) {
    .img-and-upvotes {
        width: 300px;
    }
    
    .custom-img-container {
        height: 140px;
    }
    
    .banner-image {
        height: 140px;
    }
}

@media (max-width: 670px) {
    .img-and-upvotes {
        width: 280px;
    }
    
    .custom-img-container {
        height: 130px;
    }
    
    .banner-image {
        height: 130px;
    }
}

@media (max-width: 590px) {
    .img-and-upvotes {
        width: 260px;
    }
    
    .custom-img-container {
        height: 110px;
    }
    
    .banner-image {
        height: 110px;
    }
}

@media (max-width: 560px) {
    .img-and-upvotes {
        width: 230px;
    }
    
    .custom-img-container {
        height: 100px;
    }
    
    .banner-image {
        height: 100px;
    }
}

@media (max-width: 495px) {
    .img-and-upvotes {
        width: 200px;
    }
    
    .custom-img-container {
        height: 90px;
    }
    
    .banner-image {
        height: 90px;
    }
}

@media (max-width: 430px) {
    .img-and-upvotes {
        width: 180px;
    }
    
    .custom-img-container {
        height: 80px;
    }
    
    .banner-image {
        height: 80px;
    }
}

@media (max-width: 385px) {
    .img-and-upvotes {
        width: 160px;
    }
    
    .custom-img-container {
        height: 70px;
    }
    
    .banner-image {
        height: 70px;
    }
}

@media (max-width: 359px) {
    .img-and-upvotes {
        width: 150px;
    }
    
    .custom-img-container {
        height: 60px;
    }
    
    .banner-image {
        height: 60px;
    }
}