.custom-car-item {
    margin: 0 5px;
}

.item-car-title {
    text-shadow: 2px 2px 2px #000;
}

.banner-image {
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: .6rem;
}

.custom-car-item h4 {
    margin-bottom: .5rem;
}

.small-title {
    font-size: 1rem;
}

.img-and-upvotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-img-container {
    height: 220px;
    overflow: hidden;
    flex-grow: 1;
    cursor: pointer;
}

.upvotes {
    display: flex;
    margin-bottom: auto;
    margin-left: 1em;
}

.upvote-button {
    width: 20px;
    align-self: center;
}

.upvote-button:hover {
    cursor: pointer;
}

.custom-car-user-creator {
    text-align: left;
    margin-left: .5em;
    margin-top: .5em;
}

.custom-car-user-creator h4 {
    display: inline-block;
    cursor: pointer;
}

.custom-car-user-creator h4:hover {
    transition: .2s;
    color: var(--dark-primary-200);
}

.car-voted {
    color: var(--dark-primary-200);
}

@media only screen and (max-width: 600px) {
    .custom-car-item {
        width: 160px;
        height: auto;
    }

    .banner-image {
        width: 100%;
        height: auto;
    }

    .custom-img-container {
        height: auto;
    }

    .img-and-upvotes {
        flex-direction: column;
        gap: .2em;
    }

    .upvote-button {
        width: 15px;
    }

    .custom-car-user-creator {
        text-align: center;
    }
}
