.custom-car-item {
    width: 100%;
    height: 100%;
    margin: 0 5px;
}

.item-car-title {
    text-shadow: 2px 2px 2px #000;
}

.img-and-upvotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-img-container {
    width: 100%;
    height: 180px;
    cursor: pointer;
}

.banner-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: .6rem;
}

.custom-car-item h4 {
    margin-bottom: .5rem;
}

.small-title {
    font-size: 1rem;
}

.upvotes {
    display: flex;
    margin-bottom: auto;
    margin-left: 1em;
}

.upvote-button {
    width: 20px;
    align-self: center;
}

.upvote-button:hover {
    cursor: pointer;
}

.custom-car-user-creator {
    text-align: left;
    margin-left: .5em;
    margin-top: .5em;
}

.custom-car-user-creator h4 {
    display: inline-block;
    cursor: pointer;
}

.custom-car-user-creator h4:hover {
    transition: .2s;
    color: var(--dark-primary-200);
}

.car-voted {
    color: var(--dark-primary-200);
}

@media (max-width: 1650px) {
    .img-and-upvotes {
        width: 100%;
    }
    
    .custom-img-container {
        height: 100%;
    }
    
    .banner-image {
        height: 100%;
    }
}

@media (max-width: 1100px) {
    .upvote-button {
        width: 16px;
    }
}

@media (max-width: 900px) {
    .upvote-button {
        width: 15px;
    }
}

@media (max-width: 600px) {
    .upvote-button {
        width: 13px;
    }
}