<main>
  <h1>{{ "policies.title" | translate }}</h1>
  <p>{{ "policies.date" | translate }}</p>
  <p>{{ "policies.1p" | translate }}</p>
  <p>
    {{ "policies.2p" | translate }}
    <a
      href="https://www.termsfeed.com/privacy-policy-generator/"
      target="_blank"
      >{{ "policies.1a" | translate }}</a
    >.
  </p>
  <h2>{{ "policies.1h2" | translate }}</h2>
  <h3>{{ "policies.1h3" | translate }}</h3>
  <p>{{ "policies.3p" | translate }}</p>
  <h3>{{ "policies.2h3" | translate }}</h3>
  <p>{{ "policies.4p" | translate }}</p>
  <ul>
    <li>
      <p #firstWordStrong>{{ "policies.5p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.6p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.7p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.8p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.9p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.10p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.11p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.12p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.13p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.14p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>
        {{ "policies.15p" | translate }}
        <a
          href="https://diecasttracker.com/"
          rel="external nofollow noopener"
          target="_blank"
          >https://diecasttracker.com/</a
        >
      </p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.16p" | translate }}</p>
    </li>
  </ul>
  <h2>{{ "policies.2h2" | translate }}</h2>
  <h3>{{ "policies.3h3" | translate }}</h3>
  <h4>{{ "policies.1h4" | translate }}</h4>
  <p>{{ "policies.17p" | translate }}</p>
  <ul>
    <li>
      <p>{{ "policies.18p" | translate }}</p>
    </li>
    <li>
      <p>{{ "policies.19p" | translate }}</p>
    </li>
  </ul>
  <h4>{{ "policies.2h4" | translate }}</h4>
  <p>{{ "policies.20p" | translate }}</p>
  <p>{{ "policies.21p" | translate }}</p>
  <p>{{ "policies.22p" | translate }}</p>
  <p>{{ "policies.23p" | translate }}</p>
  <h4>{{ "policies.3h4" | translate }}</h4>
  <p>{{ "policies.24p" | translate }}</p>
  <ul>
    <li #firstWordStrong>{{ "policies.1li" | translate }}</li>
    <li #firstWordStrong>{{ "policies.2li" | translate }}</li>
  </ul>
  <p>
    {{ "policies.25p" | translate }}
    <a
      href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies"
      target="_blank"
      >TermsFeed website article</a
    >.
  </p>
  <p>{{ "policies.26p" | translate }}</p>
  <ul>
    <li>
      <p #firstWordStrong>{{ "policies.27p" | translate }}</p>
      <p>{{ "policies.28p" | translate }}</p>
      <p>{{ "policies.29p" | translate }}</p>
      <p>{{ "policies.30p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.31p" | translate }}</p>
      <p>{{ "policies.32p" | translate }}</p>
      <p>{{ "policies.33p" | translate }}</p>
      <p>{{ "policies.34p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.35p" | translate }}</p>
      <p>{{ "policies.36p" | translate }}</p>
      <p>{{ "policies.37p" | translate }}</p>
      <p>{{ "policies.38p" | translate }}</p>
    </li>
  </ul>
  <p>{{ "policies.39p" | translate }}</p>
  <h3>{{ "policies.4h3" | translate }}</h3>
  <p>{{ "policies.40p" | translate }}</p>
  <ul>
    <li>
      <p #firstWordStrong>{{ "policies.41p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.42p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.43p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.44p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.45p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.46p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.47p" | translate }}</p>
    </li>
    <li>
      <p #firstWordStrong>{{ "policies.48p" | translate }}</p>
    </li>
  </ul>
  <p>{{ "policies.49p" | translate }}</p>
  <ul>
    <li #firstWordStrong>{{ "policies.50p" | translate }}</li>
    <li #firstWordStrong>{{ "policies.51p" | translate }}</li>
    <li #firstWordStrong>{{ "policies.52p" | translate }}</li>
    <li #firstWordStrong>{{ "policies.53p" | translate }}</li>
    <li #firstWordStrong>{{ "policies.54p" | translate }}</li>
    <li #firstWordStrong>{{ "policies.55p" | translate }}</li>
  </ul>
  <h3>{{ "policies.5h3" | translate }}</h3>
  <p>{{ "policies.56p" | translate }}</p>
  <p>{{ "policies.57p" | translate }}</p>
  <h3>Transfer of Your Personal Data</h3>
  <p>{{ "policies.58p" | translate }}</p>
  <p>{{ "policies.59p" | translate }}</p>
  <p>{{ "policies.60p" | translate }}</p>
  <h3>Delete Your Personal Data</h3>
  <p>{{ "policies.61p" | translate }}</p>
  <p>{{ "policies.62p" | translate }}</p>
  <p>{{ "policies.63p" | translate }}</p>
  <p>{{ "policies.64p" | translate }}</p>
  <h3>{{ "policies.6h3" | translate }}</h3>
  <h4>{{ "policies.4h4" | translate }}</h4>
  <p>{{ "policies.65p" | translate }}</p>
  <h4>{{ "policies.5h4" | translate }}</h4>
  <p>{{ "policies.66p" | translate }}</p>
  <h4>{{ "policies.6h4" | translate }}</h4>
  <p>{{ "policies.67p" | translate }}</p>
  <ul>
    <li>{{ "policies.3li" | translate }}</li>
    <li>{{ "policies.4li" | translate }}</li>
    <li>{{ "policies.5li" | translate }}</li>
    <li>{{ "policies.6li" | translate }}</li>
    <li>{{ "policies.7li" | translate }}</li>
  </ul>
  <h3>{{ "policies.7h3" | translate }}</h3>
  <p>{{ "policies.68p" | translate }}</p>
  <h2>{{ "policies.3h2" | translate }}</h2>
  <p>{{ "policies.69p" | translate }}</p>
  <p>{{ "policies.70p" | translate }}</p>
  <h2>{{ "policies.4h2" | translate }}</h2>
  <p>{{ "policies.71p" | translate }}</p>
  <p>{{ "policies.72p" | translate }}</p>
  <h2>{{ "policies.5h2" | translate }}</h2>
  <p>{{ "policies.73p" | translate }}</p>
  <p>{{ "policies.74p" | translate }}</p>
  <p>{{ "policies.75p" | translate }}</p>
  <h2>{{ "policies.6h2" | translate }}</h2>
  <p>{{ "policies.76p" | translate }}</p>
  <ul>
    <li>{{ "policies.8li" | translate }}</li>
  </ul>
</main>
