<main>
  <h1>{{ "policies.title" | translate }}</h1>

  <span>{{ "policies.date" | translate }}</span>

  <ol>
    <li>
      {{ "policies.first-li.title" | translate }}
      <ol>
        <li>
          <p>{{ "policies.first-li.first-p" | translate }}</p>
          <p>{{ "policies.first-li.first-d" | translate }}</p>
        </li>
        <li>
          <p>{{ "policies.first-li.second-p" | translate }}</p>
          <p>{{ "policies.first-li.second-d" | translate }}</p>
        </li>
      </ol>
    </li>
    <li>
      {{ "policies.second-li.title" | translate }}
      <ol>
        <li>
          <p>{{ "policies.second-li.first-p" | translate }}</p>
          <p>{{ "policies.second-li.first-d" | translate }}</p>
        </li>
        <li>
          <p>{{ "policies.second-li.second-p" | translate }}</p>
          <p>{{ "policies.second-li.second-d" | translate }}</p>
        </li>
      </ol>
    </li>
    <li>
      {{ "policies.third-li.title" | translate }}
      <p>{{ "policies.third-li.first-p" | translate }}</p>
      <p>{{ "policies.third-li.first-d" | translate }}</p>
    </li>
    <li>
      {{ "policies.fourth-li.title" | translate }}
      <p>{{ "policies.fourth-li.first-p" | translate }}</p>
      <p>{{ "policies.fourth-li.first-d" | translate }}</p>
    </li>
    <li>
      {{ "policies.fifth-li.title" | translate }}
      <p>{{ "policies.fifth-li.first-p" | translate }}</p>
      <p>{{ "policies.fifth-li.first-d" | translate }}</p>
    </li>
  </ol>

  <span>{{ "policies.last-span" | translate }} </span>
</main>
