.basic-car-item {
    margin: 1.2em auto;
}

.img-container {
    width: 275px;
    height: 9rem;
}

.banner-image {
    width: 275px;
    height: 9rem;
    border-radius: .6rem;
}

.basic-car-item h4 {
    margin-bottom: .5rem;
}

.small-title {
    font-size: .8rem;
}

.serie-square {
    width: .8rem;
    height: .8rem;
    border-radius: .2rem;
    margin-right: .3rem;
}

.car-card-button {
    top: 70%;
}

@media (max-width: 900px) {
    .img-container {
        height: 7rem;
        width: 220px;
    }

    .banner-image {
        height: 7rem;
        width: 220px;
    }
}

@media (max-width: 685px) {
    .img-container {
        height: 5rem;
        width: 150px;
    }

    .banner-image {
        height: 5rem;
        width: 150px;
    }

    .car-series-col-serie {
        flex-direction: column;
        gap: 0;
    }

    .car-card-button {
        top: 60%;
    }
}

@media (max-width: 360px) {
    .img-container {
        height: 4rem;
        width: 130px;
    }

    .banner-image {
        height: 4rem;
        width: 130px;
    }
}