.basic-car-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 1.2em auto;
    text-align: center;
}

.img-container {
    width: 275px;
    height: 9rem;
}

.banner-image {
    width: 275px;
    height: 9rem;
    object-fit: cover;
    border-radius: .6rem;
}

.basic-car-item h4 {
    margin-bottom: .5rem;
}

.small-title {
    font-size: .8rem;
}

.car-item-subtitle {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.car-serie-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serie-square {
    width: .8rem;
    height: .8rem;
    border-radius: .2rem;
    margin-right: .3rem;
}

.car-series-col-serie {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.square-series-wrapper {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .img-container {
        height: 5rem;
        width: 150px;
    }

    .banner-image {
        height: 5rem;
        width: 150px;
    }

    .car-series-col-serie {
        flex-direction: column;
        gap: 0;
    }
}