<div class="basic-car-item d_flex flex-direction_column justify-content_center align-items_center w_100 h_100 text-align_center">
    
    <!-- Car Title -->
    <div 
        class="item-car-title"
        [ngClass]="{
            'item-car-title-collected': car.has_car && !car.profile_view,
            'item-car-title-wanted': car.wants_car && !car.profile_view
        }"
    >  
        <img *ngIf="car.series[1] == 'Treasure Hunt'" src="../../../assets/images/shared/th.webp" alt="th icon" class="item-car-th">
        <img *ngIf="car.series[1] == 'Super Treasure Hunt'" src="../../../assets/images/shared/sth.webp" alt="sth icon" class="item-car-th">
        <h4 [ngClass]="car.model_name.length > 22 ? 'small-title' : ''">{{ car.model_name }}</h4>
    </div>
    
    <!-- Img Container -->
    <div class="img-container">
        <div class="flip-card">

            <!-- Front card -->
            <div class="flip-card-front">
                <img
                    loading="lazy" 
                    class="banner-image object-fit_cover"
                    [src]="car.img"
                    [alt]="car.model_name" />
            </div>

            <!-- Back card -->
            <div class="flip-card-back d_flex justify-content_center align-items_center gap_0_5">
                <button (click)="goToDetailedCar()" class="car-card-button car-card-button-basic go-to-detailed">
                    <img class="button-svg button-svg-basic" src="assets/icons/link_icon.svg" alt="Link icon"/>
                </button>
                <button *ngIf="!car.has_car && !car.wants_car && !car.profile_view" (click)="addCar(false)" class="car-card-button car-card-button-basic add-to-wishlist">
                    <img class="button-svg button-svg-basic" src="assets/icons/heart_icon.svg" alt="Heart icon"/>
                </button>
                <button *ngIf="!car.has_car && !car.wants_car && !car.profile_view" (click)="addCar(true)" class="car-card-button car-card-button-basic add-to-collection">
                    <img class="button-svg button-svg-basic" src="assets/icons/plus_icon.svg" alt="Plus icon"/>
                </button>
                <button *ngIf="(car.has_car || car.wants_car) && car.user_profile" (click)="removeCar()" class="car-card-button car-card-button-basic remove-from-x">
                    <img class="button-svg button-svg-basic" src="assets/icons/trash_icon.svg" alt="Trash icon"/>
                </button>
            </div>

        </div>
    </div>

    <!-- Car Description -->
    <div class="car-item-subtitle d_flex justify-content_evenly flex_wrap gap_0_25 mt_0_5">
        <p>#{{ car.col }}</p>
        <p>{{ car.version }}</p>
        <p>{{ car.car_id }}</p>
    </div>
    <div class="car-series-col-serie d_flex justify-content_center align-items_center gap_2">
        <div class="square-series-wrapper d_flex align-items_center">
            <div class="serie-square" [ngClass]="car.serie_class"></div>
            <p>{{ car.series[0] }}</p>
        </div>
        <p>{{ car.col_serie }}</p>
    </div>
    <p *ngIf="car.search">{{ car.year }}</p>

</div>