#landing-welcome {
    height: 60vh;
    text-align: center;
    background: url('../../../assets/images/landing_page/welcome_bg.png');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

app-msg-card {
    margin: 80px 40px;
}

#landing-cards {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.landing-card {
    padding: 0 25px;
}

@media (max-width: 900px) {
    #landing-welcome {
        height: auto;
    }

    #landing-cards {
        flex-direction: column;
        gap: 2em;
        width: 80%;
    }
}

@media (max-width: 600px) {
    app-msg-card {
        margin: 60px 40px 40px;
    }

    #landing-cards {
        width: 90%;
    }
}

@media (max-width: 450px) {
    app-msg-card {
        margin: 60px 20px 40px;
    }

    #landing-cards {
        width: 95%;
    }
}