.main-container {
  padding: 0 1rem;
  main,
  aside {
    margin-top: 1rem;
  }
  aside > div {
    z-index: 200;
    background-color: var(--background);
  }
  .cars-grouped {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 990px) {
  .main-container,
  aside {
    margin: 0 !important;
  }
  aside > div {
    padding: 1rem 0;
    border-bottom: 1px solid var(--orange-divider);
    flex-direction: row !important;
    justify-content: space-around;
    align-items: flex-end;
    div {
      width: 50%;
      dc-filter {
        width: 100%;
      }
    }
  }
  main {
    margin: 5rem 0rem !important;
    padding: 0 1rem;
  }
  .dc-filter {
    width: 30%;
  }
  .dc-divider {
    display: none;
  }
  .cars-grouped {
    grid-template-columns: 30% 30% 30% !important;
  }
  .main-container {
    gap: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  aside > div,
  aside > div > div {
    gap: 0.5rem !important;
  }
  .cars-grouped {
    grid-template-columns: 45% 45% !important;
  }
}

@media (max-width: 580px) {
  main {
    margin-top: 8rem !important;
    padding: 0 !important;
  }
  .cars-grouped {
    gap: 1rem !important;
    width: 100% !important;
  }
}
