h1 {
    text-align: left;
    margin: 0;
    margin-left: 10px;
}

h1::first-letter {
    color: var(--dark-primary-100);
}

article {
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}

article img:first-child {
    object-fit: cover;
    width: 100%;
    max-height: 250px;
}

article img:last-child {
    position: absolute;
    width: 300px;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

article:hover {
    transform: perspective(250px) translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,
            transparent 10%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0) 90%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

