<div class="filter-item">
    <h3>{{ props.label | translate }}</h3>
    <div class="car-select">
      <select [(ngModel)]="props.selected" (change)="handleChange()" [disabled]="props.selectDisabled">
        <!-- Basic default series -->
        <ng-container *ngIf="props.basicDefaultSeries">
            <option *ngFor="let option of basicDefaultSeries" [value]="option.value">{{ option.text | translate }}</option>
        </ng-container>

        <!-- Premium default series -->
        <ng-container *ngIf="props.premiumDefaultSeries">
          <option *ngFor="let option of premiumDefaultSeries" [value]="option.value">{{ option.text | translate }}</option>
        </ng-container>

        <!-- Custom default options -->
        <ng-container *ngIf="props.customDefaultOptions">
          <option *ngFor="let option of customDefaultOptions" [value]="option.value">{{ option.text | translate }}</option>
        </ng-container>

        <!-- Basic default years -->
        <ng-container *ngIf="props.basicDefaultOptions">
          <option *ngFor="let option of basicDefaultYears" [value]="option.value">{{ option.text | translate }}</option>
        </ng-container>

        <!-- Series passed -->
        <option *ngFor="let option of props.options" [value]="option">{{ option }}</option>
      </select>
    </div>
</div>