<main>
    <section id="custom-cars-upload" class="d_flex justify-content_center align-items_center">
        <form [formGroup]="customCarForm" class="custom-cars-container d_flex flex-direction_column justify-content_center align-items_center">
            <h1>{{ 'POST_CUSTOM_CAR' | translate }}</h1>
            
            <div class="custom-cars-item">
                <label>{{ 'CUSTOM_CAR_ID_CAR' | translate }}:</label>
                <input
                    type="text"
                    formControlName="car_id"
                    placeholder="{{ 'CUSTOM_CAR_ID_CAR' | translate }}"
                    (keydown.enter)="submitForm()" />
            </div>

            <div class="custom-cars-item">
                <label>{{ 'CUSTOM_CAR_MODEL_NAME' | translate }}:</label>
                <input
                    type="text"
                    formControlName="model_name"
                    placeholder="{{ 'CUSTOM_CAR_MODEL_NAME' | translate}}"
                    (keydown.enter)="submitForm()" />
            </div>

            <div class="custom-cars-item">
                <label>{{ 'CUSTOM_CAR_YEAR' | translate }}:</label>
                <input
                    type="text"
                    formControlName="year"
                    placeholder="{{ 'CUSTOM_CAR_YEAR' | translate}}"
                    (keydown.enter)="submitForm()" />
            </div>

            <div class="custom-cars-item">
                <label>{{ 'CUSTOM_CAR_BRAND' | translate }}:</label>
                <input
                    type="text"
                    formControlName="brand"
                    placeholder="{{ 'CUSTOM_CAR_BRAND' | translate}}"
                    (keydown.enter)="submitForm()" />
            </div>

            <button #uploadButton type="button" class="button-update-custom" (click)="submitForm()">{{ 'POST_CUSTOM_CAR_BUTTON' | translate }}</button>


        </form>

    </section>

    <section class="img-upload-section" *ngIf="customCarUploaded">

        <div class="img-upload-section-header d_flex justify-content_center align-items_center gap_1">
            <h1>Car images</h1>
            <button *ngIf="imageUploaded" class="custom-cars-upload-images" (click)="goBack()">{{ 'CUSTOM_CAR_FINISH' | translate }}</button>
        </div>
        
        <div class="img-inputs-container d_flex justify-content_center flex_wrap gap_2">

            <div class="img-input">
                <app-upload-img (imageChanged)="uploadImg($event)"></app-upload-img>
            </div>

            <div class="img-input">
                <app-upload-img (imageChanged)="uploadImg($event)"></app-upload-img>
            </div>

            <div class="img-input">
                <app-upload-img (imageChanged)="uploadImg($event)"></app-upload-img>
            </div>

            <div class="img-input">
                <app-upload-img (imageChanged)="uploadImg($event)"></app-upload-img>
            </div>

        </div>

    </section>
</main>

<!-- Possible errors -->
<p *ngIf="formError" class="notification notification-error">{{ errorMsg | translate }}</p>
<p *ngIf="formSuccess" class="notification notification-success">{{ successMsg | translate }}</p>
