.container {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  span {
    color: var(--gray-400);
    font-size: 0.9rem;
  }
  .pi-ellipsis-h {
    padding: 0.3rem;
    background-color: var(--background-lighter);
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (max-width: 580px) {
  .container {
    justify-content: space-evenly !important;
    img {
      width: 75px;
      height: 75px;
    }
    .user-data {
      flex-direction: column !important;
    }
    .user-numbers {
      gap: 0.5rem !important;
    }
  }
}
