<header
  class="header-container d_flex justify-content_between align-items_center w_100"
>
  <!-- Logo -->
  <div class="dt-logo d_flex align-items_center">
    <img
      src="'../../../assets/images/shared/logo.webp"
      alt="Diecast Tracker logo"
    />
    <h4>Diecast Tracker</h4>
  </div>
  <!-- Search bar -->
  <div class="dt-search-bar d_flex align-items_center">
    <input
      type="text"
      [placeholder]="'header.search_placeholder' | translate"
    />
    <div class="search-icon_container">
        <img src="assets/icons/search_icon.svg">
    </div>
  </div>

  <!-- Navbar -->
  <div class="dt-navbar">
    <ng-container *ngIf="userLogoImage$ | async as userLogo">
        <img [src]="userLogo" alt="">
    </ng-container>
  </div>
</header>
