.header-container {
  position: fixed;
  background-color: var(--background-darker);
  z-index: 5000;
  top: 0;
  padding: 0.25rem 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--orange-divider);

  .dt-logo {
    cursor: pointer;
    text-decoration: none;
    color: #fff;

    img {
      width: 60px;
    }
  }

  .dt-search-bar {
    border: 1px solid var(--grey-600);
    border-radius: 20px;
    background-color: var(--background);

    input {
      padding: 0.5rem;
      border: none;
      outline: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 500px;
      height: 40px;
    }

    .search-icon_container {
      padding: 0 1rem;
      cursor: pointer;

      img {
        width: 25px;
      }
    }
  }

  .dt-navbar {
    img {
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.user-menu {
  img {
    width: 60px;
    border-radius: 50%;
  }
}

::ng-deep.p-overlaypanel {
  z-index: 6000 !important;
}
