<ng-container
  *ngIf="{
    cars: carsVM$ | async,
    yearFilterOptions: yearFilterOptions$ | async,
    seriesFilterOptions: seriesFilterOptions$ | async,
    propertyFilterOptions: propertyFilterOptions
  } as vm"
>
  <!-- Main container -->
  <div class="main-container flex">
    <!-- Aside section -->
    <aside class="w-2 flex flex-column gap-2">
      <dc-filter
        [header]="'basic_cars.filter_year'"
        [options]="vm.yearFilterOptions ?? []"
        (selectedOption)="yearFilterSubject.next($event)"
      >
      </dc-filter>
      <dc-filter
        [header]="'basic_cars.filter_serie'"
        [options]="vm.seriesFilterOptions ?? []"
        (selectedOption)="seriesFilterSubject.next($event)"
      >
      </dc-filter>

      <dc-filter
        [header]="'basic_cars.filter_property'"
        [options]="vm.propertyFilterOptions"
        (selectedOption)="onPropertySelected($event)"
      >
      </dc-filter>
    </aside>
    <!-- List of cars -->
    <main class="w-10 flex flex-column gap-8">
      <ng-container *ngFor="let group of vm.cars">
        <div>
          <h4>{{ group.serieName }}</h4>
          <dc-divider
            [backgroundColor]="'var(--grey-300)'"
            [opacity]="'0.5'"
          ></dc-divider>
          <div class="cars-grouped">
            <ng-container *ngFor="let car of group.cars">
              <dc-basic-card [car]="car"></dc-basic-card>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </main>
  </div>
</ng-container>
