.main-container {
  margin: 5rem 2rem;
  aside {
    margin: 0 2rem;
  }
  main {
    margin: 0 2rem;
  }
  .cars-grouped {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }
}
