.car-properties_item {
    padding: .5em;
    min-width: 20em;
}

.car-properties_item p {
    font-size: 1.1em;
}

.car-image_container img {
    max-width: 100%;
    height: auto;
}

.basic-img {
    width: 750px;
}

.premium-img {
    width: 500px;
}

@media (max-width: 950px) {
    .car-image_container img {
        width: 100%;
    }
}

@media (max-width: 868px) {
    .detailed-car-page {
        margin-top: 3em;
    }

    main {
        flex-direction: column;
    }

    .car-properties_item {
        padding: .5em;
        min-width: auto;
    }

    .car-properties_item p {
        font-size: 1em;
    }
}