* {
    --dark-primary-100:#FF4500;
    --dark-primary-200:#ee6724;
    --dark-primary-300:#ffe49a;
    --dark-accent-100:#FFA500;
    --dark-accent-200:#904a00;
    --dark-text-100:#FFFFFF;
    --dark-text-200:#e0e0e0;
    --dark-bg-100:#01090e;
    --dark-bg-100-opacity:rgb(8, 18, 25, .9);
    --dark-bg-200:#2d2d2d;
    --dark-bg-300:#454545;

    --light-primary-100:#FFC107;
    --light-primary-200:#dda400;
    --light-primary-300:#916400;
    --light-accent-100:#FF5722;
    --light-accent-200:#fff3b0;
    --light-text-100:#212121;
    --light-text-200:#484848;
    --light-bg-100:#F5F5F5;
    --light-bg-200:#ebebeb;
    --light-bg-300:#c2c2c2;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'DMSerif';
    src: url('./fonts/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Inter';
}

span {
    font-size: 1em;
}

body {
    background: var(--dark-bg-100);
    color: var(--dark-text-100);
}

h1, h2, h3, h4 {
    /* font-family: 'DMSerif'; */
    font-family: 'Righteous', sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
    
    button {
        font-size: 14px;
    }

    select {
        font-size: 14px;
    }

    option {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 33px;
    }
    
    h2 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 16px;
    }

    p,
    button,
    select,
    option {
        font-size: 13px;
    }

    label,
    input {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
    
    button {
        font-size: 12px;
    }

    select {
        font-size: 12px;
    }

    option {
        font-size: 12px;
    }
}

/* Series squares */
.baja-blazers {
    background: linear-gradient(#C38A31, #E3C405);
}

.hw-dream-garage {
    background: linear-gradient(#5C5C59, #9A9A9A);
}

.experimotors {
    background: linear-gradient(#ECFF04, #E2E60A);
}

.hw-metro {
    background: linear-gradient(#D9D9D9, #9E9E9E);
}

.batman {
    background: linear-gradient(#090551, #130D8C);
}

.hw-screen-time {
    background: linear-gradient(#5916A0, #551A91);
}

.tooned {
    background: linear-gradient(#36B1DF, #319BC2);
}

.fast-foodie {
    background: linear-gradient(#EAEE19, #D8DC12);
}

.hw-turbo {
    background: linear-gradient(#D7D408, #DEDB1C);
}

.red-edition {
    background: linear-gradient(#DC0E0E, #FF0000);
}

.street-beasts {
    background: linear-gradient(#117BC5, #2592DF);
}

.hw-ride-ons {
    background: linear-gradient(#117BC5, #2592DF);
}

.hw-hatchbacks {
    background: linear-gradient(#72C735, #84D14D);
}

.compact-kings {
    background: linear-gradient(#C58DD0, #D99FE5);
}

.chevy-bel-air {
    background: linear-gradient(#348CE2, #419CF4);
}

.hw-contoured {
    background: linear-gradient(#D5D5D5, #E2E2E2);
}

.hw-speed-team {
    background: linear-gradient(#211F8F, #2F2DA8);
}

.hw-hot-trucks {
    background: linear-gradient(#DD8603, #FF9A01);
}

.retro-racers {
    background: linear-gradient(#076212, #098018);
}

.spoiler-alert {
    background: linear-gradient(#EB2106, #F43117);
}

.hw-art-cars {
    background: linear-gradient(#D5F006, #E3FD16);
}

.hw-green-speed {
    background: linear-gradient(#24C10B, #36D21D);
}

.factory-fresh {
    background: linear-gradient(#05A5D8, #11BAEF);
}

.mud-studs {
    background: linear-gradient(#1DB523, #2DCC34);
}

.hw-daredevils {
    background: linear-gradient(#CE331C, #E6442C);
}

.hw-j-imports {
    background: linear-gradient(#0EE4E5, #0EFEFF);
}

.hw-wagons {
    background: linear-gradient(#FFC20E, #FF9B0E);
}

.hw-rescue {
    background: linear-gradient(#E20000, #F80D0D);
}

.x-raycers {
    background: linear-gradient(#000000, #070707);
}

.hw-drift {
    background: linear-gradient(#CE0C81, #EB1F9A);
}

.rod-squad {
    background: linear-gradient(#000000, #070707);
}

.hw-exotics {
    background: linear-gradient(#DBFF1F, #00CE2F);
}

.rally-champs {
    background: linear-gradient(#1049C3, #0C51E4);
}

.hw-drag-strip {
    background: linear-gradient(#9B9B9B, #DFDFDF);
}

.then-and-now {
    background: linear-gradient(#DB0000, #EF1E1E);
}

.muscle-mania {
    background: linear-gradient(#F18A00, #FF9200);
}

.hw-race-day {
    background: linear-gradient(#000000, #070707);
}

.hw-glow-racers {
    background: linear-gradient(#1CC428, #22DD30);
}

.hw-getaways {
    background: linear-gradient(#016608, #0F8017);
}

.dino-riders {
    background: linear-gradient(#DEE337, #EAEF43);
}

.mattel-games {
    background: linear-gradient(#D2D2D2, #F4F4F4);
}

.holiday-racers {
    background: linear-gradient(#E42A2A, #F53636);
}

.track-stars {
    background: linear-gradient(#4719C5, #521FDF);
}

.hw-speed-graphics {
    background: linear-gradient(#C3DF1D, #DFFF20);
}

.hw-torque {
    background: linear-gradient(#9C15E5, #B834FF);
}

.hw-space {
    background: linear-gradient(#363636, #414141);
}

.hw-race-team {
    background: linear-gradient(#0378C6, #158BDA);
}

.hw-flames {
    background: linear-gradient(#FF0000, #FF6500);
}

.hot-wheels-id {
    background: linear-gradient(#FF751A, #FF822F);
}

.honda {
    background: linear-gradient(#1BC7E7, #2FD4F3);
}

.speed-blur {
    background: linear-gradient(#075F11, #91F024);
}

.porsche {
    background: linear-gradient(#EB0000, #FF1E1E);
}

.olympic-games-tokyo-2020 {
    background: linear-gradient(#06003C, #110862);
}

.hw-roadsters {
    background: linear-gradient(#000000, #212121);
}

.nightburnerz {
    background: linear-gradient(#000000, #2a2a2a);
}

.nissan {
    background: linear-gradient(#E20000, #FF1414);
}

.hw-moto {
    background: linear-gradient(#0DBAE0, #0FD0FA);
}

.hw-game-over {
    background: linear-gradient(#E52C2C, #F92727);
}

.volkswagen {
    background: linear-gradient(#A2A2A2, #D0D0D0);
}

.super-chromes {
    background: linear-gradient(#949494, #D5D5D5);
}

.tesla-greetings-from-space-special-edition {
    background: linear-gradient(#525252, #b4b4b4);
}

.barbie-60th-anniversary-special-edition {
    background: linear-gradient(#9f05ad, #c109d2);
}

.legends-of-speed {
    background: linear-gradient(#E5DB04, #FEF412);
}

.hw-fun-park {
    background: linear-gradient(#17DA2A, #14EA29);
}

.hw-glow-wheels {
    background: linear-gradient(#4011BF, #5219ED);
}

.checkmate {
    background: linear-gradient(#DACD12, #ECDE0D);
}

.hw-sports {
    background: linear-gradient(#09008B, #1106A2);
}

.hw-robots {
    background: linear-gradient(#B6B6B6, #D3D3D3);
}

.hw-50th-race-team {
    background: linear-gradient(#EB9E11, #0E259E);
}

.hw-snow-stormers {
    background: linear-gradient(#7382D0, #8996DC);
}

.fright-cars {
    background: linear-gradient(#000000, #1B1B1B);
}

.hw-city-works {
    background: linear-gradient(#E8DD05, #FFF311);
}

.surf\'s-up {
    background: linear-gradient(#F1B800, #FFCC26);
}

.camaro-fifty {
    background: linear-gradient(#1D1D1D, #ADADAD);
}

.hw-digital-circuit {
    background: linear-gradient(#F68500, #FF9213);
}