* {
    --dark-primary-100:#FF4500;
    --dark-primary-200:#ff7b3a;
    --dark-primary-300:#ffe49a;
    --dark-accent-100:#FFA500;
    --dark-accent-200:#904a00;
    --dark-text-100:#FFFFFF;
    --dark-text-200:#e0e0e0;
    --dark-bg-100:#081219;
    --dark-bg-200:#2d2d2d;
    --dark-bg-300:#454545;

    --light-primary-100:#FFC107;
    --light-primary-200:#dda400;
    --light-primary-300:#916400;
    --light-accent-100:#FF5722;
    --light-accent-200:#fff3b0;
    --light-text-100:#212121;
    --light-text-200:#484848;
    --light-bg-100:#F5F5F5;
    --light-bg-200:#ebebeb;
    --light-bg-300:#c2c2c2;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSerif';
    src: url('./fonts/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Inter';
}

body {
    background: var(--dark-bg-100);
    color: var(--dark-text-100);
}

h1, h2, h3, h4 {
    font-family: 'DMSerif';
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}