<header>
    <div id="header-logo">
        <h1>Diecast Tracker</h1>
    </div>
    <div id="header-search-bar">

        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Type to Search...">
        </div>


        <!-- <footer>
            <p>
                Test <a href="#">test</a>
            </p>
        </footer> -->

    </div>
    <nav>
        <ul>
            <li>About</li>
            <li>Account</li>
        </ul>
    </nav>
</header>