<!-- <header [ngClass]="{'header-absolute': isHomePage()}"> -->
<header>
    <!-- Logo -->
    <div (click)="goTo('/')" id="header-logo">
        <h1>CW</h1>
    </div>

    <!-- Items -->
    <ul>

        <!-- Search Bar -->
        <li>
            <div class="search-box">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" class="input-search" placeholder="{{ 'HEADER_SEARCH' | translate }}">
            </div>
        </li>

        <!-- Language Dropdown -->
        <div class="dropdown-container">
            <button (click)="toggleDropdown('lang')" class="dropdown-button">{{ 'HEADER_LANGUAGE' | translate }}
                &dtrif;</button>
            <div #langDropdown class="dropdown-content" [ngClass]="{'show': !langDropdownOpen}">
                <a (click)="toggleLanguage('en')">{{ 'HEADER_ENGLISH' | translate }}</a>
                <a (click)="toggleLanguage('es')">{{ 'HEADER_SPANISH' | translate }}</a>
            </div>
        </div>


        <!-- About CW -->
        <li><button>{{ 'HEADER_ABOUT' | translate }}</button></li>

        <!-- Log In -->
        <li *ngIf="!userLoggedIn"><button (click)="goTo('auth')">{{ 'HEADER_ACCOUNT' | translate }}</button></li>

        <!-- Account Dropdown -->
        <li *ngIf="userLoggedIn">
            <div class="dropdown-container">
                <button (click)="toggleDropdown('acc')" class="dropdown-button">{{ user.user.username }}
                    &dtrif;</button>
                <div #accDropdown class="dropdown-content" [ngClass]="{'show': !accDropdownOpen}">
                    <a (click)="goToUserProfile()">{{ 'HEADER_MY_PROFILE' | translate }}</a>
                    <a (click)="goTo('user/config')">{{ 'HEADER_MY_SETTINGS' | translate }}</a>
                    <a (click)="logOut()">{{ 'HEADER_LOGOUT' | translate }}</a>
                </div>
            </div>
        </li>

    </ul>
</header>