<header [ngClass]="{'header-absolute': isHomePage()}">
    <!-- Logo -->
    <div id="header-logo">
        <h1>Cold Wheels</h1>
    </div>
    
    <!-- Items -->
    <ul>
        <!-- Search Bar -->
        <li>
            <div class="search-box">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" class="input-search" placeholder="Search a car...">
            </div>
        </li>
        <li><button>About</button></li>
        <li><button>Account</button></li>
    </ul>
</header>