.img-container {
    position: relative;
    display: inline-block;
}

.car-card-button {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    padding: 6px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    transition: opacity .3s, visibility .3s;
    padding: .5rem;
    width: 40%;
}

.img-container:hover .car-card-button {
    opacity: 1;
    visibility: visible;
}

.img-container:hover img {
    opacity: .4;
    transition: opacity .3s;
}

.car-card-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-wishlist {
    left: 1rem;
    border: 2px solid var(--dark-primary-100);
    background-color: rgba(132, 41, 8, 0.6);
}

.add-to-collection {
    right: 1rem;
    border: 2px solid rgb(23, 194, 35);
    background-color: rgba(5, 82, 10, 0.6);
}

.remove-from-x {
    width: 45%;
    padding: .8rem 0;
    border: 2px solid rgb(255, 20, 20);
    background-color: rgba(177, 16, 16, 0.6);
}

/* .car-collected-data {
    text-align: center;
    margin: auto;
    margin-top: .5rem;
    width: 80%;
    height: .5rem;
    border-radius: 1rem;
}

.car-collected-has {
    background-color: rgb(23, 194, 35);
}

.car-collected-wants {
    background-color: var(--dark-primary-100);
} */