#custom-car-detailed {
    margin-top: 4em;
}

.car-detailed-container {
    display: grid;
    grid-template-columns: 20% 80%
}

.car-details-item {
    padding: 1em;
}

.car-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car-images img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 80%;
    height: 600px;
    display: flex;
    /* align-items: center;
    overflow: hidden; */
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #c2c2c2;
    cursor: pointer;
    padding: 0.5em;
}

.user-creator {
    cursor: pointer;
    display: inline-block;
}

.user-creator:hover {
    color: var(--dark-primary-200);
    transition: .2s ease;
}

@media screen and (max-width: 900px) {
    .car-detailed-container {
        display: flex;
        flex-direction: column;
    }
}

