#custom-car-detailed {
    margin-top: 4em;
}

.car-detailed-container {
    display: grid;
    grid-template-columns: 30% 70%
}

.car-details {
    display: flex;
    flex-direction: column;
}

.car-details-item {
    padding: 1em;
}

.car-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car-images img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 80%;
    height: 100%;
    display: flex;
    /* align-items: center;
    overflow: hidden; */
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #c2c2c2;
    cursor: pointer;
    padding: .1em;
}

.user-creator {
    cursor: pointer;
    display: inline-block;
}

.user-creator:hover {
    color: var(--dark-primary-200);
    transition: .2s ease;
}

.go-back-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    gap: 1em;
}

.go-back-button {
    padding: .6em 2em;
    border: 0.16em solid rgba(255, 255, 255, 0);
    background-color: var(--dark-bg-100-opacity);
    border-color: var(--dark-primary-100);
    color: #fff;
    border-radius: 1em;
    box-sizing: border-box;
    text-shadow: 4px 4px 4px #000;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 1.1em;
}

.go-back-button:hover {
    background-color: var(--dark-primary-100);
    text-shadow: none;
}

.upvotes-container {
    display: flex;
}

.upvote-button {
    width: 20px;
    align-self: center;
}

.upvote-button:hover {
    cursor: pointer;
}

.car-voted {
    color: var(--dark-primary-200);
}

hr {
    width: 60%;
    margin-left: .5em;
}

@media screen and (max-width: 900px) {
    .car-detailed-container {
        display: flex;
        flex-direction: column;
    }

    .car-details {
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        padding: 1em 0;
    }

}

