<br>
<div id="custom-car-detailed">

    <div class="car-detailed-container" *ngIf="car">

      <div class="car-details">
        <h2>{{ car.model_name }}</h2>
        <p>{{ car.year }}</p>
        <p>{{ car.brand }}</p>  
        <p>Created at: {{ car.createdAt | date }}</p>
      </div>
  
      <div class="carousel">
        <!-- Images -->
        <button class="nav-button" (click)="prevImage()">&#10094;</button>
        <div class="image-container">
          <img [src]="car.imgs[currentImageIndex]" (click)="nextImage()" alt="Car image">
        </div>
        <button class="nav-button" (click)="nextImage()">&#10095;</button>
      </div>

      <div class="user-data-votes">
        <h2>{{ car.userCreator }}</h2>
        <p>{{ car.upvotes }}</p>
      </div>

    </div>
  
    <!-- Possible error notification -->
    <!-- <app-global-notification *ngIf="error" [notificationMsg]="errorMsg"></app-global-notification> -->
</div>
  
  
  