<br>
<div id="custom-car-detailed">

    <div class="car-detailed-container" *ngIf="car">

      <div class="car-details">

        <div class="car-details-item">
          <h2>{{ car.model_name }}</h2>
          <p>{{ car.year }}</p>
          <p>{{ car.car_id }}</p>
          <p>{{ car.brand }}</p>  
          <p>{{ 'CREATED_AT' | translate }}: {{ car.createdAt | date }}</p>
        </div>

        <hr>

        <div class="car-details-item">
          <h2 class="user-creator" (click)="goToCreatorProfile()">{{ car.userCreator }}</h2>
          <p>{{ 'UPVOTES' | translate }}: <span class="car-upvotes">{{ car.upvotes }}</span></p>
        </div>

      </div>
  
      <div class="carousel">
        <!-- Images -->
        <button class="nav-button" (click)="prevImage()">&#10094;</button>
        <div class="image-container">
          <img [src]="car.imgs[currentImageIndex]" (click)="nextImage()" alt="Car image">
        </div>
        <button class="nav-button" (click)="nextImage()">&#10095;</button>
      </div>



    </div>
  
    <!-- Possible error notification -->
    <!-- <app-global-notification *ngIf="error" [notificationMsg]="errorMsg"></app-global-notification> -->
</div>
  
  
  