#user-profile-body {
    width: 80vw;
    margin: 5em auto;
}

#user-profile-land-section {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.profile-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.export-collection-container span {
    font-size: .9em;
}

.export-collection-error {
    padding: 5px 10px;
    background-color: rgb(255, 48, 48);
    border-radius: 5px;
    width: fit-content;
}

.export-collection-error span {
    font-weight: 600;
}

.data-cars-item {
    padding: 0 20px;
}

.data-item-number {
    font-size: 1.2em;
    font-weight: 600;
}

.vertical-divider {
    width: 1px;
    height: 50%;
    background-color: rgb(143, 143, 143);
}

.vertical-divider-menu {
    height: 80%;
}

.car-menu-list {
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
    padding: 5px 15px;
}

.car-menu-item {
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}

.car-menu-item:hover {
    color: var(--dark-primary-200);
}

.car-menu-item-selected {
    border-bottom: 1px solid var(--dark-primary-100);
}

@media (max-width: 1200px) {
    #user-profile-body {
        width: 90vw;
    }

    #user-profile-land-section {
        margin: 0 2em;
    }
}

@media (max-width: 850px) {
    .filter-section {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    
    .export-collection-container {
        align-items: center;
    }

    .export-collection-main {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #user-profile-land-section {
        flex-direction: column;
        margin: 0 1em;
    }

    .profile-img-container {
        width: 80px;
        height: 80px;
    }

    .profile-data-cars {
        margin-top: 15px;
    }

    .profile-data-name {
        justify-content: center;
        align-items: center;
    }

    .car-menu-list__group {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 350px) {
    .profile-img-container {
        width: 60px;
        height: 60px;
    }
}