<br>
<div id="user-profile-page">
    <div id="user-profile-body">
        <!-- Landing section -->
        <header
            id="user-profile-land-section"
            class="d_flex justify-content_around p_2"
            [ngStyle]="{'background-image': user?.bg_img ? 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + user?.bg_img + ')' : 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../../assets/images/login_page/login_bg.webp)'}">

            <!-- Profile data -->
            <section class="profile-data-name d_flex">
                <div class="profile-img-container">
                    <img class="user-profile-pic w_100 h_100 object-fit_cover" [src]="user?.img ? user?.img : 'assets/images/user-profile/no-user-profile.webp'" alt="user profile pic">
                </div>
                <div class="profile-data-name-container d_flex justify-content_around flex-direction_column p_0_5 gap_0_5">
                    <h3 class="ml_0_5">{{ user?.username }}</h3>
                    <app-dc-secondary-button
                        *ngIf="userVisitor"
                        (click)="goToConfig()"
                        [buttonTitle]="'USER_EDIT_PROFILE'"
                    ></app-dc-secondary-button>
                </div>
            </section>

            <!-- Cars data -->
            <section class="profile-data-cars d_flex justify-content_center align-items_center text-align_center">
                <div class="data-cars-item d_flex justify-content_center flex-direction_column text-align_center">
                    <p class="data-item-number">{{ basicCarsOwned.length }}</p>
                    <p>{{ 'USER_PROFILE_BASIC_MENU' | translate }}</p>
                </div>

                <div class="vertical-divider"></div>
                
                <div class="data-cars-item d_flex justify-content_center flex-direction_column text-align_center">
                    <p class="data-item-number">{{ premiumCarsOwned.length }}</p>
                    <p>{{ 'USER_PROFILE_PREMIUM_MENU' | translate }}</p>
                </div>
                
                <div class="vertical-divider"></div>

                <div class="data-cars-item d_flex justify-content_center flex-direction_column text-align_center">
                    <p class="data-item-number">{{ customCarsOwned.length }}</p>
                    <p>{{ 'USER_PROFILE_CUSTOM_MENU' | translate }}</p>
                </div>
            </section>

        </header>

        <!-- Export collection -->
        <div *ngIf="userVisitor" class="export-collection-container d_flex flex-direction_column gap_0_5 mt_1">
            <div class="export-collection-main d_flex align-items_center gap_0_25">
                <app-dc-button [buttonTitle]="'USER_EXPORT_TO_CSV'" (click)="exportToCsv()"></app-dc-button>
                <span>({{ 'USER_DOWNLOAD_DAYS' | translate }})</span>
            </div>
            <div *ngIf="exportToCsvError" class="export-collection-error d_flex justify-content_center gap_0_5 text-align_center">
                <p>{{ 'USER_DOWNLOAD_ERROR' | translate }}</p>
                <span (click)="exportToCsvError = false" class="c_pointer">&#10005;</span>
            </div>
        </div>

        <!-- Car menu -->
        <section class="car-menu-list-container d_flex justify-content_center mt_2">
            <div class="car-menu-list d_flex justify-content_center align-items_center gap_1">
                <div class="car-menu-list__group d_flex gap_1">
                    <div
                        class="car-menu-item"
                        [ngClass]="carsType == 'basic' ? 'car-menu-item-selected' : ''"
                        (click)="changeCarType('basic')"
                        >{{ 'USER_PROFILE_BASIC_MENU' | translate }}</div>
                    <div
                        class="car-menu-item"
                        [ngClass]="carsType == 'premium' ? 'car-menu-item-selected' : ''"
                        (click)="changeCarType('premium')"
                        >{{ 'USER_PROFILE_PREMIUM_MENU' | translate }}</div>
                    <div
                        class="car-menu-item"
                        [ngClass]="carsType == 'custom' ? 'car-menu-item-selected' : ''"
                        (click)="changeCarType('custom')"
                        >{{ 'USER_PROFILE_CUSTOM_MENU' | translate }}</div>
                </div>

                <div class="vertical-divider vertical-divider-menu"></div>

                <div class="car-menu-list__group d_flex gap_1">
                    <div
                        class="car-menu-item"
                        [ngClass]="collectedType == 'owned' ? 'car-menu-item-selected' : ''"
                        (click)="changeCarCollected('owned')"
                        >{{ 'USER_PROFILE_OWNED_MENU' | translate }}</div>
                    <div
                        *ngIf="carsType !== 'custom'"
                        class="car-menu-item"
                        [ngClass]="collectedType == 'wished' ? 'car-menu-item-selected' : ''"
                        (click)="changeCarCollected('wished')"
                        >{{ 'USER_PROFILE_WISHED_MENU' | translate }}</div> 
                </div>
            </div>
        </section>

        <!-- Filter section for Basic Cars-->
        <section *ngIf="carsType === 'basic'" class="filter-section d_flex justify-content_center gap_4">

            <app-filter-pill
                    [props]="{
                    label: 'BASIC_CARS_YEAR',
                    options: availableYears,
                    selected: selectedYear,
                    basicDefaultOptions: true,
                    selectDisabled: false
                }"
                (onChange)="filterYear($event)"
            ></app-filter-pill>

            <app-filter-pill
                [props]="{
                    label: 'BASIC_CARS_SERIE',
                    options: availableSeries,
                    selected: selectedSerie,
                    basicDefaultSeries: true,
                    selectDisabled: selectedYear === 'ALL'
                }"
                (onChange)="filterSerie($event)"
            ></app-filter-pill>

        </section>

        <!-- Filter section for Premium Cars-->
        <section *ngIf="carsType === 'premium'" class="filter-section d_flex justify-content_center gap_4">

            <app-filter-pill
                [props]="{
                    label: 'PREMIUM_CARS_MAIN_SERIE',
                    options: availableMainSeries,
                    selected: selectedMainSerie,
                    premiumDefaultSeries: true,
                    selectDisabled: false
                }"
                (onChange)="filterPremiumSerie($event)"
            ></app-filter-pill>

            <app-filter-pill
                [props]="{
                    label: 'PREMIUM_CARS_SECONDARY_SERIE',
                    options: availableSecondarySeries,
                    selected: selectedSecondarySerie,
                    premiumDefaultSeries: true,
                    selectDisabled: selectedMainSerie === 'All'
                }"
                (onChange)="filterPremiumSecundarySerie($event)"
            ></app-filter-pill>

        </section>

        <!-- Car list -->
        <main>

            <!-- Basic Cars Owned-->
            <section *ngIf="carsType === 'basic' && collectedType === 'owned'" class="basic-cars-list">
                <div *ngFor="let car of basicCarsOwnedShowed">
                    <app-basic-card (errorEvent)="enableErrorMsg($event)" [car]="car" (deleteCar)="onDeleteCar($event, 'basic owned')"></app-basic-card>
                </div>
            </section>

            <!-- Basic Cars Wished-->
            <section *ngIf="carsType === 'basic' && collectedType === 'wished'" class="basic-cars-list">
                <div *ngFor="let car of basicCarsWishedShowed">
                    <app-basic-card (errorEvent)="enableErrorMsg($event)" [car]="car" (deleteCar)="onDeleteCar($event, 'basic wished')"></app-basic-card>
                </div>
            </section>

            <!-- Premium Cars Owned-->
            <section *ngIf="carsType === 'premium' && collectedType === 'owned'" class="premium-cars-list">
                <div *ngFor="let car of premiumCarsOwnedShowed">
                    <app-premium-card (errorEvent)="enableErrorMsg($event)" [car]="car" (deleteCar)="onDeleteCar($event, 'premium owned')"></app-premium-card>
                </div>
            </section>

            <!-- Premium Cars Wished-->
            <section *ngIf="carsType === 'premium' && collectedType === 'wished'" class="premium-cars-list">
                <div *ngFor="let car of premiumCarsWishedShowed">
                    <app-premium-card (errorEvent)="enableErrorMsg($event)" [car]="car" (deleteCar)="onDeleteCar($event, 'premium wished')"></app-premium-card>
                </div>
            </section>

            <!-- Custom Cars Owned-->
            <section *ngIf="carsType === 'custom'" class="custom-cars-list">
                <div *ngFor="let car of customCarsOwned">
                    <app-custom-card (errorEvent)="enableErrorMsg($event)" [userProfile]="true" [car]="car"></app-custom-card>
                </div>
            </section>

        </main>


    </div>

    <!-- Scroll to top Button -->
    <app-scroll-to-top></app-scroll-to-top>

</div>
