<br>
<div id="user-profile-page">
    <div id="user-profile-body">
        <!-- Landing section -->
        <section id="user-profile-land-section" [ngStyle]="{'background-image': user?.bg_img ? 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0,0, 0.4)), url(' + user?.bg_img + ')' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0,0, 0.4)), url(../../../../assets/images/login_page/login_bg.png)'}">

            <!-- Profile data -->
            <div class="profile-data-name">
                <div class="profile-img-container">
                    <img class="user-profile-pic circular-image" [src]="user?.img ? user?.img : 'assets/images/user-profile/no-user-profile.jpg'" alt="">
                </div>
                <h4>{{ user?.username }}</h4>
            </div>

            <!-- Cars data -->
            <div class="profile-data-cars">
                <div class="data-cars-item">
                    <p class="data-item-number">{{ basicCarsOwned.length }}</p>
                    <p>{{ 'USER_PROFILE_BASIC_MENU' | translate }}</p>
                </div>

                <div class="vertical-divider"></div>
                
                <div class="data-cars-item">
                    <p class="data-item-number">{{ premiumCarsOwned.length }}</p>
                    <p>{{ 'USER_PROFILE_PREMIUM_MENU' | translate }}</p>
                </div>
                
                <div class="vertical-divider"></div>

                <div class="data-cars-item">
                    <p class="data-item-number">{{ customCarsOwned.length }}</p>
                    <p>{{ 'USER_PROFILE_CUSTOM_MENU' | translate }}</p>
                </div>
            </div>

        </section>

        <!-- Car menu -->
        <section class="car-menu-list-container">
            <div class="car-menu-list">
                <div
                    class="car-menu-item"
                    [ngClass]="carsType == 'basic' ? 'car-menu-item-selected' : ''"
                    (click)="changeCarType('basic')"
                    >{{ 'USER_PROFILE_BASIC_MENU' | translate }}</div>
                <div
                    class="car-menu-item"
                    [ngClass]="carsType == 'premium' ? 'car-menu-item-selected' : ''"
                    (click)="changeCarType('premium')"
                    >{{ 'USER_PROFILE_PREMIUM_MENU' | translate }}</div>
                <div
                    class="car-menu-item"
                    [ngClass]="carsType == 'custom' ? 'car-menu-item-selected' : ''"
                    (click)="changeCarType('custom')"
                    >{{ 'USER_PROFILE_CUSTOM_MENU' | translate }}</div>

                <div class="vertical-divider vertical-divider-menu"></div>

                <div
                    class="car-menu-item"
                    [ngClass]="collectedType == 'owned' ? 'car-menu-item-selected' : ''"
                    (click)="changeCarCollected('owned')"
                    >{{ 'USER_PROFILE_OWNED_MENU' | translate }}</div>
                <div
                    *ngIf="carsType !== 'custom'"
                    class="car-menu-item"
                    [ngClass]="collectedType == 'wished' ? 'car-menu-item-selected' : ''"
                    (click)="changeCarCollected('wished')"
                    >{{ 'USER_PROFILE_WISHED_MENU' | translate }}</div>
            </div>
        </section>

        <!-- Car list -->
        <section id="user-cars-list">

            <!-- Basic Cars Owned-->
            <div *ngIf="carsType === 'basic' && collectedType === 'owned'" class="user-basic-cars-list">
                <div *ngFor="let car of basicCarsOwned">
                    <app-basic-card (errorEvent)="enableErrorMsg($event)" [car]="car"></app-basic-card>
                </div>
            </div>

            <!-- Basic Cars Wished-->
            <div *ngIf="carsType === 'basic' && collectedType === 'wished'" class="user-basic-cars-list">
                <div *ngFor="let car of basicCarsWished">
                    <app-basic-card (errorEvent)="enableErrorMsg($event)" [car]="car"></app-basic-card>
                </div>
            </div>

            <!-- Premium Cars Owned-->
            <div *ngIf="carsType === 'premium' && collectedType === 'owned'" class="user-basic-cars-list">
                <div *ngFor="let car of premiumCarsOwned">
                    <app-premium-card (errorEvent)="enableErrorMsg($event)" [car]="car"></app-premium-card>
                </div>
            </div>

            <!-- Premium Cars Wished-->
            <div *ngIf="carsType === 'premium' && collectedType === 'wished'" class="user-basic-cars-list">
                <div *ngFor="let car of premiumCarsWished">
                    <app-premium-card (errorEvent)="enableErrorMsg($event)" [car]="car"></app-premium-card>
                </div>
            </div>

        </section>


    </div>

    <!-- Possible error notification -->
    <!-- <app-global-notification *ngIf="error" [notificationMsg]="errorMsg"></app-global-notification> -->

</div>
