<div
  class="detailed-container flex flex-column justify-content-center align-items-center gap-3 p-2"
>
  <div class="galleria-container">
    <p-galleria
      [value]="imgs"
      [showItemNavigators]="true"
      [showThumbnailNavigators]="false"
      [containerStyle]="{ 'max-width': '640px' }"
      [numVisible]="4"
      [style]="{
        width: '1500px'
      }"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
  <div class="description-container">
    <div class="w-full flex align-items-center gap-3">
      <div>
        <button
          *ngIf="!car.isVoted"
          (click)="upvoteCar(car.id)"
          class="upvote-car"
        >
          {{ "detailed_car.upvote" | translate }}
        </button>
        <button
          *ngIf="car.isVoted"
          (click)="downvoteCar(car.id)"
          class="downvote-car"
        >
          {{ "detailed_car.downvote" | translate }}
        </button>
      </div>
      <p>
        {{ "detailed_car.upvotes" | translate }}:
        <span>{{ car.upvotes }}</span>
        <i
          [ngClass]="{
            'text-primary-500': car.isVoted
          }"
          class="pi pi-thumbs-up text-sm ml-1"
        ></i>
      </p>
    </div>
  </div>
</div>
