.serie-pill {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 400px;
    height: 85px;
    margin: 20px 50px;
    text-shadow: 4px 4px 4px #000;
}

.serie-pill:hover {
    transform: scale(1.1);
    transition: ease .15s;
}
  
.serie-pill img {
    width: 150px;
    margin: 0 25px;
}


@media (max-width: 900px) {
    .serie-pill {
        padding: 5px;
        height: 80px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .serie-pill img {
        width: 110px;
    }
}

@media (max-width: 600px) {
    .serie-pill {
        padding: 5px;
        width: 80vw;
        height: 80px;
        margin-right: 0;
        margin-left: 0;
    }

    .serie-pill img {
        margin: 0 10px;
    }

    .serie-pill img {
        width: 100px;
    }
}