.serie-pill {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 400px;
    height: 85px;
    padding: 15px;
    margin: 20px 50px;
    cursor: pointer;
    text-shadow: 4px 4px 4px #000;
}

.serie-pill:hover {
    transform: scale(1.1);
    transition: ease .15s;
}
  
.serie-pill img {
    width: 150px;
    margin: 0 25px;
}

.serie-pill h3 {
    text-align: center;
    width: 100%;
}

@media (max-width: 600px) {
    .serie-pill {
        padding: 5px;
        width: 80vw;
        height: 60px;
        margin-right: 0;
        margin-left: 0;
    }

    .serie-pill img {
        width: 100px;
    }
}